@define-color bg #232829;
@define-color fg #d6dbdc;
@define-color gray1 #98b3aa;
@define-color gray2 #788487;
@define-color gray3 #95abb6;
@define-color gray4 #98b3b0;
@define-color gray5 #97aab4;
@define-color fg_bright #d6dbdc;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}